/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
body{
  font-family: Lato;  
}
@font-face {
  font-family: 'Lato';

  src: url('../fonts/Lato-Regular.ttf');
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Linearicons-Free';
  src:url('../fonts/Linearicons-Free.eot?w118d');
  src:url('../fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
    url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
    url('../fonts/Linearicons-Free.woff?w118d') format('woff'),
    url('../fonts/Linearicons-Free.ttf?w118d') format('truetype'),
    url('../fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
  font-weight: normal;
  font-style: normal;
}

.lnr {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lnr-home:before {
  content: "\e800";
}
.lnr-apartment:before {
  content: "\e801";
}
.lnr-pencil:before {
  content: "\e802";
}
.lnr-magic-wand:before {
  content: "\e803";
}
.lnr-drop:before {
  content: "\e804";
}
.lnr-lighter:before {
  content: "\e805";
}
.lnr-poop:before {
  content: "\e806";
}
.lnr-sun:before {
  content: "\e807";
}
.lnr-moon:before {
  content: "\e808";
}
.lnr-cloud:before {
  content: "\e809";
}
.lnr-cloud-upload:before {
  content: "\e80a";
}
.lnr-cloud-download:before {
  content: "\e80b";
}
.lnr-cloud-sync:before {
  content: "\e80c";
}
.lnr-cloud-check:before {
  content: "\e80d";
}
.lnr-database:before {
  content: "\e80e";
}
.lnr-lock:before {
  content: "\e80f";
}
.lnr-cog:before {
  content: "\e810";
}
.lnr-trash:before {
  content: "\e811";
}
.lnr-dice:before {
  content: "\e812";
}
.lnr-heart:before {
  content: "\e813";
}
.lnr-star:before {
  content: "\e814";
}
.lnr-star-half:before {
  content: "\e815";
}
.lnr-star-empty:before {
  content: "\e816";
}
.lnr-flag:before {
  content: "\e817";
}
.lnr-envelope:before {
  content: "\e818";
}
.lnr-paperclip:before {
  content: "\e819";
}
.lnr-inbox:before {
  content: "\e81a";
}
.lnr-eye:before {
  content: "\e81b";
}
.lnr-printer:before {
  content: "\e81c";
}
.lnr-file-empty:before {
  content: "\e81d";
}
.lnr-file-add:before {
  content: "\e81e";
}
.lnr-enter:before {
  content: "\e81f";
}
.lnr-exit:before {
  content: "\e820";
}
.lnr-graduation-hat:before {
  content: "\e821";
}
.lnr-license:before {
  content: "\e822";
}
.lnr-music-note:before {
  content: "\e823";
}
.lnr-film-play:before {
  content: "\e824";
}
.lnr-camera-video:before {
  content: "\e825";
}
.lnr-camera:before {
  content: "\e826";
}
.lnr-picture:before {
  content: "\e827";
}
.lnr-book:before {
  content: "\e828";
}
.lnr-bookmark:before {
  content: "\e829";
}
.lnr-user:before {
  content: "\e82a";
}
.lnr-users:before {
  content: "\e82b";
}
.lnr-shirt:before {
  content: "\e82c";
}
.lnr-store:before {
  content: "\e82d";
}
.lnr-cart:before {
  content: "\e82e";
}
.lnr-tag:before {
  content: "\e82f";
}
.lnr-phone-handset:before {
  content: "\e830";
}
.lnr-phone:before {
  content: "\e831";
}
.lnr-pushpin:before {
  content: "\e832";
}
.lnr-map-marker:before {
  content: "\e833";
}
.lnr-map:before {
  content: "\e834";
}
.lnr-location:before {
  content: "\e835";
}
.lnr-calendar-full:before {
  content: "\e836";
}
.lnr-keyboard:before {
  content: "\e837";
}
.lnr-spell-check:before {
  content: "\e838";
}
.lnr-screen:before {
  content: "\e839";
}
.lnr-smartphone:before {
  content: "\e83a";
}
.lnr-tablet:before {
  content: "\e83b";
}
.lnr-laptop:before {
  content: "\e83c";
}
.lnr-laptop-phone:before {
  content: "\e83d";
}
.lnr-power-switch:before {
  content: "\e83e";
}
.lnr-bubble:before {
  content: "\e83f";
}
.lnr-heart-pulse:before {
  content: "\e840";
}
.lnr-construction:before {
  content: "\e841";
}
.lnr-pie-chart:before {
  content: "\e842";
}
.lnr-chart-bars:before {
  content: "\e843";
}
.lnr-gift:before {
  content: "\e844";
}
.lnr-diamond:before {
  content: "\e845";
}
.lnr-linearicons:before {
  content: "\e846";
}
.lnr-dinner:before {
  content: "\e847";
}
.lnr-coffee-cup:before {
  content: "\e848";
}
.lnr-leaf:before {
  content: "\e849";
}
.lnr-paw:before {
  content: "\e84a";
}
.lnr-rocket:before {
  content: "\e84b";
}
.lnr-briefcase:before {
  content: "\e84c";
}
.lnr-bus:before {
  content: "\e84d";
}
.lnr-car:before {
  content: "\e84e";
}
.lnr-train:before {
  content: "\e84f";
}
.lnr-bicycle:before {
  content: "\e850";
}
.lnr-wheelchair:before {
  content: "\e851";
}
.lnr-select:before {
  content: "\e852";
}
.lnr-earth:before {
  content: "\e853";
}
.lnr-smile:before {
  content: "\e854";
}
.lnr-sad:before {
  content: "\e855";
}
.lnr-neutral:before {
  content: "\e856";
}
.lnr-mustache:before {
  content: "\e857";
}
.lnr-alarm:before {
  content: "\e858";
}
.lnr-bullhorn:before {
  content: "\e859";
}
.lnr-volume-high:before {
  content: "\e85a";
}
.lnr-volume-medium:before {
  content: "\e85b";
}
.lnr-volume-low:before {
  content: "\e85c";
}
.lnr-volume:before {
  content: "\e85d";
}
.lnr-mic:before {
  content: "\e85e";
}
.lnr-hourglass:before {
  content: "\e85f";
}
.lnr-undo:before {
  content: "\e860";
}
.lnr-redo:before {
  content: "\e861";
}
.lnr-sync:before {
  content: "\e862";
}
.lnr-history:before {
  content: "\e863";
}
.lnr-clock:before {
  content: "\e864";
}
.lnr-download:before {
  content: "\e865";
}
.lnr-upload:before {
  content: "\e866";
}
.lnr-enter-down:before {
  content: "\e867";
}
.lnr-exit-up:before {
  content: "\e868";
}
.lnr-bug:before {
  content: "\e869";
}
.lnr-code:before {
  content: "\e86a";
}
.lnr-link:before {
  content: "\e86b";
}
.lnr-unlink:before {
  content: "\e86c";
}
.lnr-thumbs-up:before {
  content: "\e86d";
}
.lnr-thumbs-down:before {
  content: "\e86e";
}
.lnr-magnifier:before {
  content: "\e86f";
}
.lnr-cross:before {
  content: "\e870";
}
.lnr-menu:before {
  content: "\e871";
}
.lnr-list:before {
  content: "\e872";
}
.lnr-chevron-up:before {
  content: "\e873";
}
.lnr-chevron-down:before {
  content: "\e874";
}
.lnr-chevron-left:before {
  content: "\e875";
}
.lnr-chevron-right:before {
  content: "\e876";
}
.lnr-arrow-up:before {
  content: "\e877";
}
.lnr-arrow-down:before {
  content: "\e878";
}
.lnr-arrow-left:before {
  content: "\e879";
}
.lnr-arrow-right:before {
  content: "\e87a";
}
.lnr-move:before {
  content: "\e87b";
}
.lnr-warning:before {
  content: "\e87c";
}
.lnr-question-circle:before {
  content: "\e87d";
}
.lnr-menu-circle:before {
  content: "\e87e";
}
.lnr-checkmark-circle:before {
  content: "\e87f";
}
.lnr-cross-circle:before {
  content: "\e880";
}
.lnr-plus-circle:before {
  content: "\e881";
}
.lnr-circle-minus:before {
  content: "\e882";
}
.lnr-arrow-up-circle:before {
  content: "\e883";
}
.lnr-arrow-down-circle:before {
  content: "\e884";
}
.lnr-arrow-left-circle:before {
  content: "\e885";
}
.lnr-arrow-right-circle:before {
  content: "\e886";
}
.lnr-chevron-up-circle:before {
  content: "\e887";
}
.lnr-chevron-down-circle:before {
  content: "\e888";
}
.lnr-chevron-left-circle:before {
  content: "\e889";
}
.lnr-chevron-right-circle:before {
  content: "\e88a";
}
.lnr-crop:before {
  content: "\e88b";
}
.lnr-frame-expand:before {
  content: "\e88c";
}
.lnr-frame-contract:before {
  content: "\e88d";
}
.lnr-layers:before {
  content: "\e88e";
}
.lnr-funnel:before {
  content: "\e88f";
}
.lnr-text-format:before {
  content: "\e890";
}
.lnr-text-format-remove:before {
  content: "\e891";
}
.lnr-text-size:before {
  content: "\e892";
}
.lnr-bold:before {
  content: "\e893";
}
.lnr-italic:before {
  content: "\e894";
}
.lnr-underline:before {
  content: "\e895";
}
.lnr-strikethrough:before {
  content: "\e896";
}
.lnr-highlight:before {
  content: "\e897";
}
.lnr-text-align-left:before {
  content: "\e898";
}
.lnr-text-align-center:before {
  content: "\e899";
}
.lnr-text-align-right:before {
  content: "\e89a";
}
.lnr-text-align-justify:before {
  content: "\e89b";
}
.lnr-line-spacing:before {
  content: "\e89c";
}
.lnr-indent-increase:before {
  content: "\e89d";
}
.lnr-indent-decrease:before {
  content: "\e89e";
}
.lnr-pilcrow:before {
  content: "\e89f";
}
.lnr-direction-ltr:before {
  content: "\e8a0";
}
.lnr-direction-rtl:before {
  content: "\e8a1";
}
.lnr-page-break:before {
  content: "\e8a2";
}
.lnr-sort-alpha-asc:before {
  content: "\e8a3";
}
.lnr-sort-amount-asc:before {
  content: "\e8a4";
}
.lnr-hand:before {
  content: "\e8a5";
}
.lnr-pointer-up:before {
  content: "\e8a6";
}
.lnr-pointer-right:before {
  content: "\e8a7";
}
.lnr-pointer-down:before {
  content: "\e8a8";
}
.lnr-pointer-left:before {
  content: "\e8a9";
}

.fade-carousel {
    position: relative;
    height: 92vh;
}
.fade-carousel .carousel-inner .item {
    height: 92vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #fe7222;
    border-color: #fe7222;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }
.navbar.navbar-default .nav-collapse { background-color: #fff;}
.navbar.navbar-inverse .nav-collapse { background-color: #fff; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

@media (min-width: 768px) {
  .hitnav{
    width: 100%;
    position: fixed;
    top: 0px;
    height: 35px;
    background-color: #6d503f;
    z-index: 111;
    text-align: right;
    padding-right: 105px;
    color: #fff;
    padding-top: 10px;
    font-size: 12px;
  }

  .navbar .nav-collapse {     
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
  }
  .navbar {
    min-height: 50px;
    margin-bottom: 20px;
    position: fixed;
    top: 35px;
    z-index: 1;
    width: 100%; 
  }
}
@media (max-width: 768px) {
  .navbar {
    min-height: 50px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%; 
  }

  .navbar .nav-collapse {     
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
  }
}

.container-na{
  padding: 30px 0px;
}
.col-img img{
  width: 250px;
  height: 200px;
  margin-bottom: 20px
}
.col-img p{
  font-size: 18px;
  color: #333;
}
.col-img{
  text-align: center;
}
.tutor{
  background-image: url('https://static1.squarespace.com/static/5298f4dfe4b0c313de263084/t/569f780dc647ad650f3a82f4/1453291534842/Webinar.jpg?format=1500w');
}
.isi-tutor{
  width: 100%;
  background-color: rgba(244, 244, 244, 0.8);
  padding: 20px;
}
.judul-tutor{
  text-align: center;
  color: #777;
}
.how{
  color: #fe7222;
}
.row-tutor{
  padding: 25px 0px;
}
.tutor-text{
  font-size: 16px;
  margin-top: -20px;
}
.hideme{
  opacity: 0;
}
.artikel{
  width: 100%;
  padding: 20px 0px;
}
.videona{
  text-align: center;
}
.videona i{
  position: absolute;
  font-size: 100px;
  color: rgba(169, 169, 169, 0.5);
  padding: 50px 25%;
}
.artikel img{
  margin-bottom: 10px
}
.btn-art{
  margin-left: 40%;
  padding: 3px 60px;
  background-color: transparent;
  border: 2px solid #ddd  ;
  border-radius: 50px;
  color: #fe7222;
}
.footer{
  width: 100%;
  height: 50px;
  background-color: #6d503f;
  padding: 15px
}
.past-event{
  width: 100%;
  padding: 20px 0px 50px 0px;
  background-color: #f4f4f4;
}

/* CSSTerm.com Simple CSS menu */
.menu_simple{
  position: relative;
}
.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:100%;
    list-style-type: none;
}

.menu_simple ul li a {
    position: relative;
    text-decoration: none;
    color: #333;
    padding: 20px 10px;
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
    border-bottom: 2px solid #fff;
    -webkit-transition: border-bottom 1s; /* For Safari 3.1 to 6.0 */
    transition: border-bottom 1s;
}
 /*
.menu_simple ul li a:visited {
    color: white;
}*/
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: #333;
    border-bottom: 2px solid #fe7222;
}
.link-past{
  position: absolute;
  top: 18px;
  left: 30px;
}

.upcoming-event{
  width: 100%;
  padding: 20px 0px 40px 0px;
}
.img-upcoming{
  position: relative;
}
.date-upcoming{
  position: absolute;
  background-color: #fe7222;
  color: #fff;
  bottom: 10px;
  left: 25px;
  padding: 5px 10px;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
.banner{
  max-height: 400px;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
}
.text-banner{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0
}
.tef{
  color: #fff;
  height: 100%;
  display: table;
  width: 100%;
}
.tef h1{
  text-align: center;
  font-family: Lato;
  display: table-cell;
  vertical-align: middle;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 200px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}